/***********LANDING PAGE LAYOUT*************/

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

img {
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}


/********HEADER**********/

header .container {
    display: flex;
    flex-direction: row;
}

li {
    display: inline;
    padding: 10px;
    margin: 2px;
}

h1 {
    float: left;
    padding-right: 20px;
}

ul {
    float: right;
    padding-left: 150px;
}


/********OVERVIEW HERO**********/

.overview-hero {
    height: 230px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.overview-hero-image img {
    float:left;
    padding-right: 20px;
}

.overview-hero-text h2 p {
    float:right;
    padding-left: 70px;
}


/********LEARN ABOUT**********/

.learn-about {
    height: 500px;
}

.cards {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr ;
    grid-template-areas: "card card card";
    grid-gap: 50px;
}

.card {
    width: 300px;
    text-align: center;
    grid-area: "card";
}


/********TESTING**********/

.testing {
    height: 250px;  
}

.testing .container {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.testing-description h2 {
    padding-right: 20px;
}

.cta {
    width: 250px;
    height: 50px;
}

.cta .btn {
    padding-left: 25px;
    padding: 12px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

/********STORIES**********/

article {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:"image articlebody";
    grid-gap: 10px;
    padding-bottom: 30px;
}

article img {
    grid-area: "image";
}

article .article-body {
    grid-area: "articlebody";
}

article p a {
    text-decoration: none;
}

/********NEWSLETTER**********/

.newsletter .container {
    height: 200px;
}

.newsletter .container p {
    width: 500px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    align-content: center;
}

input[type = email] {
    padding: 12px 20px;
    margin-right: 25px;
}

form .btn {
    padding: 12px 20px;
    width: 140px;
}

/********FOOTER**********/

footer {
    height: 100px;
}


/********COLOURS AND FONTS*************/

html {
    font-size:18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}


/********HEADER**********/

.header {
    background-color: white;
    font-size: 18px;
}

li a {
    color: #6b7280;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: #5A67D8;
    text-decoration: none;
    font-weight: bold;
}


/********OVERVIEW HERO**********/

.overview-hero {
    background-color: #E2E8F0;
}


/********LEARN ABOUT**********/

.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
}

.card {
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 0.8px 0.8px 2px 0.8px rgb(126, 123, 123);
}

.learn-about h3 {
    color: #48BB78;
    font-size: 21px;
}


/********TESTING**********/

.testing {
    background-color: #4A5568;
    color: white;
}

.testing .cta .btn {
    background-color: #48BB78;
    color: white;
    border-radius: 5px;
}

/********STORIES**********/

.stories a {
    color: #5A67D8;
}

.stories h3 {
    font-size: 18px;
}

.stories img {
    border-radius: 50%;
}


/********NEWSLETTER**********/

.newsletter {
    background-color: #48BB78;
    color: white;
}

.newsletter .btn {
    background-color: #5A67D8;
    color: white;
}

/********FOOTER**********/

footer {
    background-color: #4A5568;
    color: white;
}